@using Newtonsoft.Json.Linq
@using DynamicTest.Core.Helper
@using DynamicTest.Core.Converter
@using Syncfusion.Blazor.Inputs
@using System.IO

<div class="control_wrapper">
        <SfUploader ID="UploadFiles" DropArea=".control-fluid" AllowedExtensions=".json" AutoUpload="false" MaxFileSize="Double.MaxValue">
            <UploaderEvents OnRemove="OnFilesRemove" ValueChange="OnFilesInput"></UploaderEvents>
        </SfUploader>
    </div>


<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
    }
</style>


@code {
    // [Parameter] public EventCallback<List<string>> OnFilesInput { get; set; }
    [Parameter] public EventCallback<UploadChangeEventArgs> OnFilesInput { get; set; }
    [Parameter] public EventCallback<RemovingEventArgs> OnFilesRemove { get; set; }
    private List<string> FilePaths { get; set; } = new ();

    // private async void OnChange(UploadChangeEventArgs args)
    // {
    //     foreach (var file in args.Files)
    //     {
    //         
    //         var path = await FileWriter.Json(file);
    //         FilePaths.Add(path);
    //     }
    //
    //     await OnFilesInput.InvokeAsync(FilePaths);
    // }
}
