@using Newtonsoft.Json.Linq
@using DynamicTest.Core.Helper
@using DynamicTest.Core.Converter
@using Syncfusion.Blazor.Inputs
@using System.IO

<div class="control_wrapper">
        <SfUploader ID="UploadFiles" DropArea=".control-fluid" AllowedExtensions=".json" AutoUpload="false">
            <UploaderEvents ValueChange="OnChange"></UploaderEvents>
            @* <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save" RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings> *@
        </SfUploader>
    </div>

@* <InputFile OnChange="OnFileInput"/> *@

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
    }
</style>


@code {
    [Parameter] public EventCallback<List<string>> OnFilesInput { get; set; }
    private List<string> FilePaths { get; set; } = new ();

    private async void OnChange(UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            
            var path = await FileWriter.Json(file);
            FilePaths.Add(path);
        }

        await OnFilesInput.InvokeAsync(FilePaths);
    }
    
}
