@using Newtonsoft.Json.Linq
@using System.Dynamic
@using DynamicTest.Core.Models
@using Microsoft.AspNetCore.Components.Rendering


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
            @foreach (var (key, value) in Data)
            {
                        <GridGenerator Data=@value></GridGenerator>
            }
    </div>
</div>





@code {

    [Parameter]
    public Dictionary<string, List<DynamicDictionary>> Data { get; set; }

    [Parameter]
    public bool InitializeTable { get; set; }

}