@page "/"
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
            <div class="data-table">
                <SfGrid
                    DataSource="@GridData"
                    ShowColumnChooser="true"
                    FrozenColumns="1"
                    EnableHover="true"
                    Toolbar="@(new List<string>() {"Search", "ColumnChooser"})"
                    AllowPaging="true"
                    AllowTextWrap="true"
                    AllowFiltering="true"
                    AllowPdfExport="true"
                    AllowSorting="true">
                    <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
                    <GridPageSettings PageSize="25"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field="Field1" HeaderText="PlayerName" Width="120"></GridColumn>
                        <GridColumn Field="Field2" HeaderText="Year" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field3" HeaderText="Stint" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field4" HeaderText="TMID" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field5" HeaderText="LGID" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field6" HeaderText="GP" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field7" HeaderText="GS" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field8" HeaderText="Minutes" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field9" HeaderText="Points" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field10" HeaderText="oRebounds" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field11" HeaderText="dRebounds" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field12" HeaderText="Rebounds" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field13" HeaderText="Assists" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field14" HeaderText="Steals" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field15" HeaderText="Blocks" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field16" HeaderText="TurnOvers" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field17" HeaderText="PF" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field18" HeaderText="fgAttempted" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field19" HeaderText="fgMade" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                        <GridColumn Field="Field20" HeaderText="ftAttempted" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                    </GridColumns>
                </SfGrid>
        </div>
    </div>
</div>

<style>
    .data-table {
    width: 80%;
    max-width: 100%;
    height: 100px !important;
        max-height: 100% !important;
    position: absolute;
    }
    .data-table > * {
    }    
</style>

@code{

    private List<VirtualData> GridData { get; set; } = new List<VirtualData>();

    protected override Task OnInitializedAsync()
    {
        GridData = GetAllRecords();
        return Task.CompletedTask;
    }

    private List<VirtualData> GetAllRecords()
    {

        List<VirtualData> data = new List<VirtualData>(10000);
        Random random = new Random();
        string[] name = {
            "hardireaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa", "abramjo01", "aubucch01", "Hook", "Rumpelstiltskin", "Belle", "Emma", "Regina", "Aurora", "Elsa",
            "Anna", "Snow White", "Prince Charming", "Cora", "Zelena", "August", "Mulaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaan", "Graham", "Discord", "Will", "Robin Hood",
            "Jiminy Cricket", "Henry", "Neal", "Red", "Aaran", "Aaren", "Aarez", "Aarman", "Aaron", "Aaron-James", "Aarron", "Aaryan", "Aaryn",
            "Aayan", "Aazaanaaaaaaaaaaaaaaaaaaa", "Abaan", "Aaaaaaaaaaaaaaaabbas", "Abdallah", "Abdalroof", "Abdihakim", "Abdirahman", "Abdisalam", "Abdul", "Abdul-Aziz",
            "Abdulbasir", "Abdulkadir", "Abdulkarem", "Abdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaulkhader", "Abdullah", "Abdul-Majeed", "Abdulmalik", "Abdul-Rehman", "Abdur",
            "Abdurraheem", "Abdur-Rahman", "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaAbdur-Raaaaaaaaaaaaaaaehmaan", "Abeaaaaaaaaaaaaaaal", "Abhinav", "Abhisumant", "Abid", "Abir", "Abraham", "Abu", "Abubakar",
            "Ace", "Adain", "Adam", "Adam-James", "Addison", "Addisson", "Adaaaaaaaaaaaaaaaegbola", "Adegbolahan", "Aden", "Adenn", "Adie", "Adil", "Aditya",
            "Adnan", "Adrian", "Adrien", "Aedaaaaaaaaaaaaaaaan", "Aedin", "Aedyn", "Aeaaaaaaaaaaaaaaaron", "Afonso", "Ahmad", "Ahmed", "Ahmed-Aziz", "Ahoua", "Ahtasham",
            "Aiadan", "Aidan", "Aiden", "Aiden-Jack", "Aiden-Vee"
        };
        for (int i = 0; i < 10000; i++)
        {
            string Field1 = name[random.Next(96)];
            int Field2 = 1967 + (i % 10);
            int Field3 = (int) Math.Floor(random.NextDouble() * 200);
            int Field4 = (int) Math.Floor(random.NextDouble() * 100);
            int Field5 = (int) Math.Floor(random.NextDouble() * 2000);
            int Field6 = (int) Math.Floor(random.NextDouble() * 1000);
            int Field7 = (int) Math.Floor(random.NextDouble() * 100);
            int Field8 = (int) Math.Floor(random.NextDouble() * 10);
            int Field9 = (int) Math.Floor(random.NextDouble() * 10);
            int Field10 = (int) Math.Floor(random.NextDouble() * 100);
            int Field11 = (int) Math.Floor(random.NextDouble() * 100);
            int Field12 = (int) Math.Floor(random.NextDouble() * 1000);
            int Field13 = (int) Math.Floor(random.NextDouble() * 10);
            int Field14 = (int) Math.Floor(random.NextDouble() * 10);
            int Field15 = (int) Math.Floor(random.NextDouble() * 1000);
            int Field16 = (int) Math.Floor(random.NextDouble() * 200);
            int Field17 = (int) Math.Floor(random.NextDouble() * 300);
            int Field18 = (int) Math.Floor(random.NextDouble() * 400);
            int Field19 = (int) Math.Floor(random.NextDouble() * 500);
            int Field20 = (int) Math.Floor(random.NextDouble() * 700);
            data.Add(new VirtualData(Field1, Field2, Field3, Field4, Field5, Field6, Field7, Field8, Field9, Field10, Field11,
                Field12, Field13, Field14, Field15, Field16, Field17, Field18, Field19, Field20));
        }
        return data;
    }

    public class VirtualData
    {
        public string Field1 { get; set; }
        public int Field2 { get; set; }
        public int Field3 { get; set; }
        public int Field4 { get; set; }
        public int Field5 { get; set; }
        public int Field6 { get; set; }
        public int Field7 { get; set; }
        public int Field8 { get; set; }
        public int Field9 { get; set; }
        public int Field10 { get; set; }
        public int Field11 { get; set; }
        public int Field12 { get; set; }
        public int Field13 { get; set; }
        public int Field14 { get; set; }
        public int Field15 { get; set; }
        public int Field16 { get; set; }
        public int Field17 { get; set; }
        public int Field18 { get; set; }
        public int Field19 { get; set; }
        public int Field20 { get; set; }

        public VirtualData(string Field1, int Field2, int Field3, int Field4, int Field5, int Field6, int Field7
            , int Field8, int Field9, int Field10, int Field11, int Field12, int Field13, int Field14, int Field15,
            int Field16, int Field17, int Field18, int Field19, int Field20)
        {
            this.Field1 = Field1;
            this.Field2 = Field2;
            this.Field3 = Field3;
            this.Field4 = Field4;
            this.Field5 = Field5;
            this.Field6 = Field6;
            this.Field7 = Field7;
            this.Field8 = Field8;
            this.Field9 = Field9;
            this.Field10 = Field10;
            this.Field11 = Field11;
            this.Field12 = Field12;
            this.Field13 = Field13;
            this.Field14 = Field14;
            this.Field15 = Field15;
            this.Field16 = Field16;
            this.Field17 = Field17;
            this.Field18 = Field18;
            this.Field19 = Field19;
            this.Field20 = Field20;
        }

    }

}

