@page "/"
@using System.Text
@using System.IO
@using Newtonsoft.Json.Linq
@inject HttpClient Http

<h1>Hello, world!</h1>

<InputFile OnChange="@LoadFiles" multiple />

@code {
    protected override void OnInitialized()
    {
    }
    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        var fileContents = new List<string>();
        foreach (var file in e.GetMultipleFiles(2))
        {
            await using var stream = file.OpenReadStream(int.MaxValue);
            using var reader = new StreamReader(stream);
            fileContents.Add(await reader.ReadToEndAsync());
            
            var a = await Http.PostAsJsonAsync($"Home",file);

        }
    }
}
