@page "/"
@using System.Text
@using System.IO
@using DynamicTest.Core.Helper
@using Newtonsoft.Json.Linq
@inject HttpClient Http

<h1>Hello, world!</h1>

<InputFile OnChange="@LoadFile" />
<h1>@AppDomain.CurrentDomain.BaseDirectory</h1>

@code {
    private string FileLocation { get; set; } = null;

    protected override void OnInitialized()
    {
    }
    private async void LoadFile(InputFileChangeEventArgs e)
    {
        //FileLocation = await FileWriter.Json(e.File);
        //var a = await Http.GetFromJsonAsync<string>($"api/home?fileLocation={FileLocation}");
        //var content = await FileReader.Json(e.File);
        var a = await Http.PostAsJsonAsync<Stream>($"api/home",e.File.OpenReadStream(int.MaxValue));
    }
}
